:root{
    --primary-color: #3498db;
      --secondary-color: #2980b9;
      --accent-color: #e74c3c;
      --light-color: #ecf0f1;
      --dark-color: #f6fbff;
      --success-color: #2ecc71;
  }
  *{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  body{
    font-family:'segeo UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background: 
    /* Semi-transparent black overlay (adjust rgba last value 0.3 = 30% opacity) */
    linear-gradient(rgba(35, 50, 165, 0.871), rgba(8, 11, 88, 0.638)),
    /* Your background image */
    url('https://images.unsplash.com/photo-1497366811353-6870744d04b2') center/cover;
    padding: 20px;  
    background-size: cover;          
    background-position: center;    
    background-attachment: fixed;   
  }
  #survey-form {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 2rem;
    border-radius: 8px;
    backdrop-filter: blur(5px); 
  }
  .container{
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 0.5)
  }
  h1{
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 15px;
  }
  h4{
    text-align: center;
    font-style: italic;
    margin-bottom:30px;
    color:#bdbdbd;
    font-weight: lighter;
  }
  .form-group{
    margin-bottom:  25px;
  }
  label{
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--dark-color);
  }
  .optional{
    font-weight: normal;
    color: #bdbdbd;
    font-size:0.9em;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #f9f6f6;
    border-radius: 4px;
    font-size: 16px;
    transition: border 0.3s;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  select:focus,
  textarea:focus{
    border-color: var(--primary-color);
    outline:none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
  }
  .radio-group,checkbox-group{
    display:flex;
    flex-direction: column;
    gap: 10px;
  }
  .radio-group label,checkbox-group label{
    font-weight: normal;
    display:  flex;
    align-items: center;
    gap:10px;
    cursor: pointer;
  }
  input[type="radio"],
  input[type="checkbox"]{
    width: auto;
  }
  textarea{
    min-height:120px;
    resize: vertical;
  }
  button{
  display: block;
  width: 100px;
  padding: 15px;
  background-color: var(--success-color);
  color:white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight:bold;
  cursor: pointer;
  transition:background-color 0.3s;
  }
  button:hover{
    background-color:var(--secondary-color);
  }
  @media(max-width: 600px){
    .container{
      padding: 20px;
    }
  }